@charset "UTF-8";
/* line 1, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
r
* {
  box-sizing: border-box;
}

/* line 10, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  word-wrap: break-word;
}

/* line 17, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 23, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 14px;
}
/* line 27, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 36, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
input {
  background-color: transparent;
  outline-width: 0;
}

/* line 41, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* line 46, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.display_none {
  display: none;
}

/* 共通レイアウト ================================ */
/* line 50, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
body {
  color: #2d3133;
  background-color: #2d3133;
  margin: 0;
  min-height: 1vh;
}

/* line 57, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.main {
  padding: 64px 0 100px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* line 68, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info {
  margin: 60px 15px;
  padding: 15px;
  background: #fff;
  max-width: 300px;
}
/* line 74, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info a {
  color: #2d3133;
}
/* line 78, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
/* line 83, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info h3 {
  margin-top: 15px;
}
/* line 87, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info .logout {
  display: block;
  padding-top: 20px;
}

/* line 93, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info-item {
  display: flex;
}
/* line 95, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.user-info-item .item-name {
  width: 100px;
}

/* line 100, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.container {
  max-width: 700px;
  margin: 60px 15px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

/* line 108, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 111, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

/* line 114, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* ヘッダー ================================ */
/* line 118, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
header {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #2d3133;
  border-bottom: 7px solid #FFF46E;
  display: flex;
  justify-content: space-between;
}

/* line 129, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-logo {
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}
/* line 134, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-logo a {
  color: white;
  font-size: 22px;
}

/* line 140, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-start-icon {
  position: absolute;
  line-height: 64px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
/* line 148, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-start-icon a {
  font-size: 38px;
}

/* line 153, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-menus {
  padding-right: 20px;
}
/* line 155, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: #f4f4f4;
  padding-left: 15px;
}
/* line 162, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-menus a {
  float: left;
  font-size: 13px;
  color: #f4f4f4;
}
/* line 167, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-menus .fa {
  padding-right: 5px;
}
/* line 170, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

/* line 180, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.login {
  line-height: 64px;
  padding: 0 15px;
}

/* line 184, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.sma-btn {
  display: none;
}

/* top ================================ */
/* line 188, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/top.jpg");
}

/* line 204, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.top-message {
  position: relative;
}

/* line 208, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

/* line 216, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.top-main p {
  font-size: 24px;
}

/* about ================================ */
/* line 221, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.main-wrap {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
  transition: .2s;
}

/* line 231, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-main {
  color: #fff;
  display: block;
  text-align: center;
  background: url(https://giflog.net/wp-content/uploads/2018/04/9493.jpg);
  background-size: cover;
}

/* line 239, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.mainvisual {
  background: rgba(0, 0, 0, 0.3);
  padding: 18% 0 23%;
  position: relative;
}

/* line 245, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-main h1 {
  font-size: 40px;
  line-height: 0.9;
}
/* line 249, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-main h1 span {
  font-size: 80px;
}

/* line 254, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-text {
  font-weight: 200;
  font-size: 20px;
  margin-top: 50px;
}

/* line 260, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-img {
  width: 84%;
}

/* line 264, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-btn-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* line 270, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-btn {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  opacity: 0.9;
  position: relative;
}
/* line 277, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-btn:hover {
  opacity: 1;
}
/* line 281, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-btn a {
  padding: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 291, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-btn a:hover {
  text-decoration: none;
}

/* line 295, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.twitter-login {
  background: #55ACEE;
  width: 250px;
}
/* line 298, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.twitter-login .fa-twitter {
  margin-right: 5px;
  font-size: 20px;
}

/* line 304, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-continue {
  background: #000;
  width: 180px;
}

/* line 309, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-howto {
  text-align: center;
  padding: 100px 0;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 315, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-howto h2 {
  margin-bottom: 40px;
}
/* line 319, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-howto h3 {
  font-weight: normal;
  font-size: 20px;
}

/* line 325, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.white-back {
  background: #fff;
  display: flex;
}

/* line 330, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.gray-back {
  display: flex;
}

/* line 334, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-img {
  width: 40%;
  height: 40%;
}

/* line 339, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-step {
  width: 60%;
  padding: 150px 50px;
}
/* line 343, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-step h2 {
  font-size: 30px;
  padding: 40px 0;
}
/* line 347, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.about-step .justnow {
  margin: 100px 0 0;
  font-weight: normal;
  font-size: 22px;
}

/* line 354, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.photo-credit {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 359, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-img {
  margin: 100px 0;
  width: 40%;
  height: 40%;
}

/* line 365, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.step-three {
  text-align: center;
  margin: 0 auto;
}

/* フォーム================================ */
/* line 371, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}
/* line 376, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}
/* line 385, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}
/* line 391, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form input[type="submit"] {
  background-color: #2d3133;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  height: 50px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
}

/* line 404, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

/* line 411, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form-body {
  padding: 30px;
}
/* line 413, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* line 420, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form-error {
  color: #ff4d75;
}

/* フラッシュ ================================ */
/* line 425, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.flash {
  padding: 10px 0;
  color: #2d3133;
  background: #FFF46E;
  text-align: center;
  position: absolute;
  top: 60px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* posts/index ================================ */
/* line 439, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.no-posts {
  margin-top: 30px;
  color: #808B97;
}

/* line 444, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-info {
  display: flex;
  flex-direction: row;
}
/* line 448, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-info .tags {
  background: #2d3133;
  padding: 5px 15px;
  margin-right: 10px;
  max-width: 250px;
}
/* line 454, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-info .tags p {
  color: #fff;
}
/* line 459, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-info .running-time {
  background-color: #FFF46E;
  width: 80px;
  text-align: center;
  padding: 5px;
}
/* line 465, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-info .running-time p {
  color: #2d3133;
}

/* line 472, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item {
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  padding: 20px 30px;
}
/* line 478, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item a {
  display: block;
  color: #2d3133;
}
/* line 481, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item a:hover {
  text-decoration: underline;
}
/* line 486, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item .post-submenus-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 10px;
  transition: .2s;
}
/* line 493, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item .post-submenus-btn:hover {
  color: #FFF46E;
}
/* line 499, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item .post-submenus {
  position: absolute;
  top: 5px;
  right: -75px;
  padding: 20px 15px 10px;
  background: #fff;
  box-shadow: 0 1px 1px #c1ced7;
  display: none;
  transition: .05s;
}
/* line 509, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-index-item .open {
  display: block !important;
}

/* line 514, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-left {
  float: left;
  width: 10%;
}
/* line 517, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* line 525, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-user-name a {
  font-weight: 600;
}
/* line 527, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-user-name a:hover {
  color: #2d3133;
}

/* line 532, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */
/* line 540, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.show {
  padding: 5px;
}

/* line 543, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-show form {
  display: inline;
}

/* line 547, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-show-item {
  padding: 30px;
  background-color: white;
  overflow: hidden;
}
/* line 551, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}
/* line 559, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

/* line 565, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

/* line 571, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-time {
  color: #8899a6;
  font-size: 12px;
}

/* line 576, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-menus {
  float: right;
}
/* line 583, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}
/* line 584, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.post-menus a {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
/* line 588, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.select-menu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}
/* line 595, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.select-menu #select-time {
  padding: 10px;
  border: none;
}
/* line 599, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.select-menu p {
  margin-left: 10px;
}

/* line 604, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form-title {
  font-size: 20px;
  margin-right: auto;
  font-weight: bold;
}

/* line 610, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.title-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}
/* line 616, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.title-form h2 {
  font-size: 20px;
  margin-right: 10px;
}

/* line 622, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid #d8dadf;
  resize: none;
}
/* line 628, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

/* line 633, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form_submit {
  display: flex;
  justify-content: flex-end;
}
/* line 637, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.form_submit .fa-twitter {
  font-size: 25px;
  margin-top: 27px;
  color: #2d3133;
}

/* line 644, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea {
  position: relative;
  /* 親要素が基点       */
  width: 52px;
  /* ボタンの横幅       */
  background: #fff;
  /* デフォルト背景色   */
  margin: 25px 40px 15px 10px;
}
/* line 650, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea input[type="checkbox"] {
  display: none;
  /* チェックボックス非表示 */
}
/* line 654, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea label {
  display: block;
  /* ボックス要素に変更 */
  box-sizing: border-box;
  /* 枠線を含んだサイズ */
  height: 30px;
  /* ボタンの高さ       */
  border: 2px solid #999;
  /* 未選択タブのの枠線 */
  border-radius: 15px;
  /* 角丸               */
  cursor: pointer;
}
/* line 663, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea input[type="checkbox"]:checked + label {
  border-color: #2d3133;
  /* 選択タブの枠線     */
  background: #FFF46E;
}
/* line 668, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea .swImg {
  position: absolute;
  /* 親要素からの相対位置*/
  width: 26px;
  /* 丸の横幅           */
  height: 26px;
  /* 丸の高さ           */
  background: #999;
  /* カーソルタブの背景 */
  top: 2px;
  /* 親要素からの位置   */
  left: 2px;
  /* 親要素からの位置   */
  border-radius: 13px;
  /* 角丸               */
  transition: .05s;
  /* 滑らか変化         */
}
/* line 679, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.switchArea input[type="checkbox"]:checked ~ .swImg {
  transform: translateX(22px);
  /* 丸も右へ移動       */
  background: #2d3133;
  /* カーソルタブの背景 */
}

/* line 691, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

/* line 701, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 20px auto;
  max-width: 500px;
  background: #f5f8fa;
  text-align: center;
  z-index: 100;
}

/* line 713, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-header {
  background: #000;
  border-bottom: 3px solid #FFF46E;
  display: flex;
}
/* line 718, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-header .timer-title {
  font-size: 30px;
  text-align: left;
  color: #fff;
  padding-left: 10px;
}
/* line 725, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-header .close-modal {
  color: #fff;
  margin: 9px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* line 733, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.pomodoro-minutes {
  width: 220px;
  font-size: 20px;
  padding: 0 10px;
  border: 2px solid;
}

/* line 740, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
#timer {
  background: #fff;
  height: 120px;
  line-height: 120px;
  font-size: 80px;
  margin: 15px 0;
}

/* line 748, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.running {
  border: 5px solid #FFF46E;
}

/* line 752, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.timer-controls {
  padding: 20px;
}

/* line 756, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div {
  cursor: pointer;
  user-select: none;
  width: 220px;
  background: #000;
  height: 45px;
  line-height: 45px;
}

/* line 765, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/* line 771, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div + div {
  margin-left: 20px;
}

/* line 775, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div:hover {
  opacity: 0.7;
}

/* line 779, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.message-set {
  position: absolute;
  top: 5px;
  right: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  min-width: 120px;
  max-width: 100%;
  border: solid 3px #000;
  display: none;
}
/* line 791, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.message-set:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -10px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}
/* line 802, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.message-set:after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -12px;
  border: 14px solid transparent;
  border-top: 14px solid #000;
  z-index: 1;
}

/* line 816, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 120%;
  margin-left: auto;
  margin-right: auto;
}

/* line 823, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 831, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.iframe-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 120%;
  margin-left: auto;
  margin-right: auto;
}
/* line 839, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 848, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.terms-wrap {
  display: block;
}

/* line 853, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.terms {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 100px;
}
/* line 858, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.terms h1 {
  margin-top: 30px;
  font-size: 30px;
}
/* line 862, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.terms h2 {
  margin-top: 30px;
}
/* line 866, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.terms p a {
  color: #8EA6B4;
}

/* line 872, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.googleform {
  background: #000;
  width: 300px;
  text-align: center;
}
/* line 877, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.googleform a {
  color: #fff;
}

/* line 882, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
footer {
  background: #2d3133;
  color: #f4f4f4;
  margin: 0 auto;
  text-align: center;
}
/* line 888, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
footer .footer-wrap {
  display: flex;
  justify-content: center;
}
/* line 892, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
footer .footer-wrap li {
  margin: 20px;
}

@media screen and (max-width: 800px) {
  /* line 899, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .header-menus {
    display: none;
  }

  /* line 903, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .sma-btn {
    display: block;
    cursor: pointer;
  }
  /* line 907, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .sma-btn .fa-bars {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    padding: 16px;
    transition: .4s;
  }
  /* line 914, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .sma-btn .fa-bars:hover {
    background: #606470;
  }

  /* line 921, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .about-btn-wrap {
    display: inline-block;
  }

  /* line 925, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .about-btn {
    width: 80vw;
    margin: 20px auto;
  }

  /* line 930, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .white-back {
    display: block;
  }

  /* line 934, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .gray-back {
    display: block;
  }
  /* line 937, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .gray-back .about-step {
    margin-top: 50px;
  }

  /* line 942, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .step-three {
    margin-top: 50px;
  }

  /* line 946, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .timer-img {
    width: 90%;
  }

  /* line 950, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .posts-img {
    width: 90%;
    display: block;
    margin: 0 0 0 auto;
  }

  /* line 956, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .about-step {
    width: 100%;
    padding: 0px 10% 50px;
  }

  /* line 961, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .main {
    display: block;
  }

  /* line 965, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .user-info {
    margin: 0;
    width: 70%;
    position: fixed;
    top: 57px;
    right: 10px;
    z-index: 1000;
    background: #606470;
    color: #fff;
    display: none;
  }
  /* line 976, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .user-info a {
    color: #fff;
  }

  /* line 981, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .side-open {
    display: block;
    opacity: 1;
  }

  /* line 986, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .form {
    max-width: 600px;
    width: 100%;
  }

  /* line 991, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .posts-index-item .post-submenus {
    right: 2px;
  }

  /* line 995, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .terms {
    padding: 0 20px 100px;
  }

  /* line 1001, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  footer .footer-wrap {
    display: block;
    padding: 20px;
  }

  /* line 1007, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
  .googlead {
    display: none;
  }
}
/* line 4, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-title-wrap {
  display: flex;
  align-items: flex-end;
}
/* line 8, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-title-wrap .tags-title {
  font-size: 50px;
  min-width: 80px;
}
/* line 12, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-title-wrap .tags-new-btn {
  font-size: 30px;
  color: #2d3133;
  margin: 18px;
}
/* line 17, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-title-wrap .tags-new-btn i {
  border: 5px solid;
  padding: 3px;
}

/* line 25, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-item-wrap {
  background: #FFF46E;
  padding: 10px 20px 20px;
  margin-bottom: 20px;
}
/* line 30, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-item-wrap a {
  color: #2d3133;
  font-size: 40px;
  font-weight: bold;
}
/* line 36, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-item-wrap .tags-continue {
  text-align: right;
}
/* line 39, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/tags.scss */
.tags-item-wrap .tags-continue a {
  font-size: 25px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

