<div class="main posts-index">
  <div class="container">
    <h1 class="tags-title">カテゴリ一覧</h1>
    <% @tags.each do |tag| %>
      <% @posts = User.find_by(id: current_user.id).posts.tagged_with(tag) %>
      <% unless @posts.count === 0 then %>
      <div class="tags-item-wrap">
        <div class="tags-item-title">
          <a href="/tags/<%= tag.id %>"><%= tag.name %> (<%= @posts.count %>)</a>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
