.main.posts-index
  = render partial: 'sidebar'
  .container
    - if @tag
      .tags-title-wrap
        h1.tags-title 
          = @tag
          span
            = "#{@total_running_time[:hour]}時間" if @total_running_time[:hour] != 0
            = "#{@total_running_time[:min]}分"
    - else
      h1.tags-title そのタグは存在しません
    - @tagged_with_posts.each do |post|
      .posts-info
        - post.tags.each do |tag|
          .tags
            = link_to tag.name, tag_path(tag.id)
        .running-time
          p #{post.running_time}分
      .posts-index-item
        = simple_format(post.content)
        .post-time
          = post.created_at.strftime('%Y/%m/%d %T')
        nav.post-submenus
          ul
            li
              = link_to "投稿の編集", edit_post_path(post.id)
            li
              = link_to "投稿の削除", post_path(post.id), {method: "delete"}
        .post-submenus-btn
          i.fas.fa-angle-down
