<div class="main about-main">
  <div class="mainvisual">
    <h2>学習する人の良質な集中とアウトプットを支援</h2>
    <p class="about-text">ORT.(オルト)は、タイマーを使った効果的な集中と細かなアウトプットで、学習の質とスピードを向上するツールです。</p>
    <div class="about-btn-wrap">
      <div class="about-btn about-continue"><a href="#"><p>ORT.(オルト)とは</p></a></div>
      <div class="about-btn twitter-login"><a href="/users/auth/twitter"><p><i class="fab fa-twitter"></i>Twitterアカウントでログイン</p></a></div>
    </div>
  </div>
  <div class="about-point">
  </div>
</div>
