<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="running-time">
        <p><%= post.running_time %> 分</p>
      </div>
      <div class="posts-index-item">
        <%= link_to(post.content,"/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>
