.side-wrap
  .user-info
    = render partial: 'userinfo'
  .googlead
    script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ins.adsbygoogle style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-8225452416450531" data-ad-slot="6856221731"
    javascript: 
      (adsbygoogle = window.adsbygoogle || []).push({}); 
